<% @page_name = "log_in" %>

<% form_for @user_session, :url => sessions_path, :method => :post do |f| %>

<h1>Log in</h1>


<%= error_messages_for :user_session %>

<p>Don't have an account? <%= link_to "Create one", new_user_path  %>.</p>


<p>
	<%= f.label :email, 'Your e-mail address', :class=>"standard" %><br />
	<%= f.text_field :email, :class=>'standard', :onblur => "javascript:ValidateBox(this)"%>	
</p>
<p>
	<%= f.label :password, 'Your password', :class=>"standard" %><br />
	<%= f.password_field :password, :class=>"standard" %>
</p>


    <p>
      <%= f.submit 'Log in' %>
    </p>

<p>Forgot your password? <%= link_to 'Try resetting it', new_password_reset_url %>.</p>
<% end %>
