<h1>Administration dashboard</h1>

<strong>My Account (<%=h @user.name.blank? ? @user.email : @user.name %>)</strong>
<sup><%= link_to 'edit profile', edit_user_path(@user) %></sup><br />

<h2>Actions</h2>
<ul>
	<li><%= link_to "Add event", :controller=> 'events', :action => 'new' %></li>
	<li><%= link_to "Manage news items", :controller=> 'news_items', :action => 'index' %></li>
	<li><%= link_to "Manage fund raising items", :controller=> 'fund_raisings', :action => 'index' %></li>
	<li><%= link_to "Manage all users", :controller=> 'users', :action=> 'index' %></li>
</ul>

<h2>Upcoming events</h2>
<table class="dashboard">
<tr>
	<th></th>
	<th>Title</th>
	<th>Date</th>
	<th>Location</th>
	<th>Volunteers</th>
	<th>(Min/Max)</th>
	<th></th>
	<th></th>
</tr>

<% @upcoming_events.each do |event| %>
  <tr <% if event.under_volunteered? %>class="yellow"<% elsif event.full? %>class="full"<% end %>>
    <td class="status_cell"><% if event.full? %>Full<% elsif event.under_volunteered? %>Not enough volunteers<% end %></td>
    <td><%= link_to event.title, event_path(event) %></td>
    <td><%=h event.date.to_formatted_s(:short) %></td>
    <td><%=h event.location %></td>
    <td><%= link_to event.total_volunteers, event_event_volunteers_path(event) %></td>
    <td>(<%= link_to "#{event.minimum_volunteers} / #{event.maximum_volunteers}", event_event_volunteers_path(event) %>)</td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Delete', event, :confirm => 'Are you sure you want to delete this event?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<h2>Past events</h2>
<table class="dashboard">
<tr>
	<th></th>
	<th>Title</th>
	<th>Date</th>
	<th>Location</th>
	<th>Volunteers</th>
	<th>(Min/Max)</th>
	<th></th>
	<th></th>
</tr>

<% @past_events.each do |event| %>
  <tr <% if event.under_volunteered? %>class="yellow"<% elsif event.full? %>class="full"<% end %>>
    <td class="status_cell"><% if event.full? %>Full<% elsif event.under_volunteered? %>Under<% end %></td>
    <td><%= link_to event.title, event_path(event) %></td>
    <td><%=h event.date.to_formatted_s(:short) %></td>
    <td><%=h event.location %></td>
    <td><%= link_to event.total_volunteers, event_event_volunteers_path(event) %></td>
    <td>(<%= link_to "#{event.minimum_volunteers} / #{event.maximum_volunteers}", event_event_volunteers_path(event) %>)</td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Delete', event, :confirm => 'Are you sure you want to delete this event?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<ul>
