<h2>Edit your profile</h2>

<% form_for(@user) do |f| %>

	<div class="profile_information">
      <p>
        <b><%= f.label :name %></b><br />
        <%= f.text_field :name %>
      </p>
    	<p>
        <b><%= f.label :password %></b><br />
				<sup>(Enter new password to change)</sup><br />
        <%= f.text_field :password %>
    	</p>
      <p>
        <b><%= f.label :email %></b><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <b><%= f.label :phone %></b><br />
        <%= f.text_field :phone %>
      </p>
	</div>
	<div class="profile_address">
      <p>
        <b><%= f.label :address1 %></b><br />
        <%= f.text_field :address1 %>
      </p>
      <p>
        <b><%= f.label :address2 %></b><br />
        <%= f.text_field :address2 %>
      </p>
      <p>
        <b><%= f.label :city %></b><br />
        <%= f.text_field :city %>
      </p>
      <p>
        <b><%= f.label :state %></b><br />
        <%= f.text_field :state %>
      </p>
      <p>
        <b><%= f.label :zip %></b><br />
        <%= f.text_field :zip %>
      </p>
  </div>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
