<h1>Listing users</h1>

<table class="dashboard">
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
	<th class="print_hide"></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td class="align_left"><%=h user.email %></td>
    <td><%=h user.name %></td>
    <td><%=h user.phone %></td>
    <td class="align_left"><%=h user.address1 %> <%=h user.address2 %>
    <br /><%=h user.city %> <%=h user.state %> <%=h user.zip %></td>
    <td class="print_hide"><%= link_to 'Show', user %> | <%= link_to 'Edit', edit_user_path(user) %><% unless user == current_user %> | <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>


<p><%= link_to 'Create a New User', new_user_path %></p>
