<strong>My Account (<%=h @user.name.blank? ? @user.email : @user.name %>)</strong>
<sup><%= link_to 'edit profile', edit_user_path(@user) %></sup><br />

<h2>Upcoming events</h2>
<ul>
<% @upcoming_events.each do |event| %>
	<li><%= link_to event_title_and_date(event), event_path(event) %></li>
<% end %>
</ul>

<h2>Past events</h2>
<ul>
<% @past_events.each do |event| %>
	<li><%= link_to event_title_and_date(event), event_path(event) %></li>
<% end %>
</ul>

<h2>Other upcoming events</h2>
<ul>
<% @other_upcoming.each do |event| %>
	<li><%= link_to event_title_and_date(event), event_path(event) %></li>
<% end %>
</ul>
