<% form_for(event) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title, {}, :class=>"standard" %><br />
    <%= f.text_field :title, :class=>"standard" %>
  </p>
  <p>
    <%= f.label :description, {}, :class=>"standard" %><br />
    <%= f.text_area :description, :class=>"standard" %>
  </p>
  <p>
    <%= f.label :date, 'Date and time', :class=>"standard" %><br />
    <%= f.text_field :date, :class=>"standard" %> (Type in a date and time, like 12/14/2010 8:00am)
  </p>
  <p>
    <%= f.label :location, {}, :class=>"standard" %><br />
    <%= f.text_field :location, :class=>"standard" %>
  </p>
  <p>
    <%= f.label :number_of_hours, {}, :class=>"standard" %><br />
    <%= f.text_field :number_of_hours, :class=>"standard", :size=>"3" %>
  </p>
  <p>
    <%= f.label :minimum_volunteers, 'Minimum number of Volunteers', :class=>"standard" %><br />
    <%= f.text_field :minimum_volunteers, :class=>"standard", :size=>"3" %>
  </p>
  <p>
    <%= f.label :maximum_volunteers, 'Maximum number of Volunteers', :class=>"standard" %><br />
    <%= f.text_field :maximum_volunteers, :class=>"standard", :size=>"3" %>
  </p>
  <% unless event.new_record? %>
    <p>
      <%= f.label :closed, 'Closed', :class=>"standard" %><br />
      <%= f.check_box :closed %>
    </p>
  <% end %>
  <p>
    <%= f.label :subject_to_cancellation, 'Subject to cancellation', :class=>"standard" %><br />
    <%= f.check_box :subject_to_cancellation %>
  </p>
  
  	<p>
	<% if @page_name == "edit_event" %>
  		<%= f.submit 'Save Your Edits' %> or <%= link_to 'cancel and go back', events_path %>
	<% else %>
        <%= f.submit 'Create New Event' %> or <%= link_to 'cancel and go back', events_path %>
    <% end %>
  </p>
<% end %>


