<% @page_name = "events" %>

<div id="left">

<h1>Upcoming volunteer opportunities</h1>

<% @events.each do |event| %>
<div class="event_listing">

	<!-- add class="full" to the h3 below to make the 'full' tag appear -->
    <h3><%= link_to event.title, event %></h3>
    <p class="event_date"><span class="line_heading">Date: </span><%=h event.date.strftime("%A %m/%d/%Y") unless event.date.nil? %></p>
    <p class="event_time"><span class="line_heading">Time: </span><%=h event.timeWithDuration %></p>
    <p class="event_location"><span class="line_heading">Location: </span><%=h event.location %></p>
	<p class="event_volunteers"><span class="line_heading">Volunteers: </span><%=h event.users.count %></p>
</div>
<% end %>
</div>


<div id="right">
		
		
	
		<h2 class="no_margin">Why volunteer?</h2>
		<p>Aliquam quam libero, tristique eget posuere eu, elementum sed sapien. Nulla enim diam, tempor vel condimentum in, dapibus at magna. Nullam eu tortor est, si.</p>
	
		<p><img src="/images/sidebar-graphic.jpg" alt="sidebar-graphic" width="280" height="134" /></p>
		
		<h2>Track &amp; share</h2>
		
		<p>Need to verify your volunteer hours? We've made it easy!</p>
		
		<p><a href="/users/session"><img src="/images/button-login.png" alt="Log in" /></a></p>
		
		<h2>Fundraising opportunities</h2>
		
		<ul>
			<li>
				<a href="#">Egypt's Mubarak 'returning home'</a>
			</li>
			<li>
				<a href="#">Thai red shirts confront troops</a>
			</li>
			<li>
				<a href="#">Burma stages army parade  </a>
			</li>
		</ul>	
				
		<h2>News</h2>
		<ul>
			<% @newsitems.each do |newsitem| %>
			<li>
				<%= link_to newsitem.name, newsitem.link %>		
			</li>
			<% end %>
		</ul>	
	</div>

	<div class="clear"></div>
