<h1>Upcoming volunteer opportunities</h1>
 
<% @events.each do |event| %>
<div class="event_listing">
    <h3><%= link_to event.title, event %></h3>
    <p class="event_date">Date: <%=h event.date.strftime("%A %m/%d/%Y") unless event.date.nil? %></p>
    <p class="event_time">Time: <%=h event.date.strftime("%I:%M %p") unless event.date.nil? %></p>
    <p class="event_location">Location: <%=h event.location %></p>
    <p class="event_hours">Hours: <%=h event.number_of_hours %></p>
		<p class="event_users">Volunteers: <%=h event.users.count %></p>
</div>
<% end %>

