<!-- <p><%= link_to 'go back to see all opportunities', events_path %></p> -->

<h1><%=h @event.title %></h1>

<div class="event_listing clear less_padding">
	<div class="event_left">
	
		<h2>Details</h2>
	
			<p class="event_date"><span class="line_heading">Date: </span><%=h @event.date.strftime("%m/%d/%Y") %></p>
			<p class="event_time"><span class="line_heading">Time: </span><%=h @event.date.strftime("%I:%M %p") %></p>
			<p class="event_location"><span class="line_heading">Location: </span><%=h @event.location %></p>
			<p class="event_hours"><span class="line_heading">Duration: </span><%=h @event.number_of_hours %> hours</p>
			<p class="event_volunteers"><span class="line_heading">Volunteers Signed Up: </span><%=h @event.users.count %> (# more requested)</p>
	
	</div>
	<div class="event_right">
		<h2>Description</h2>
		<p><%=h @event.description %></p>
	</div>
</div>


  <div class="event_signup">
    <% if current_user and current_user.signed_up_for?(@event) %>
      <%= link_to 'cancel my volunteer sign-up', polymorphic_url(@event_volunteer), :method => :delete, :confirm => "Are you sure you want to cancel your registration?" %>
    <% else %>
      <h2>Sign up for this event as a volunteer</h2>
      <% form_for([@event, @event_volunteer]) do |event_volunteer_form| %>
        <%= event_volunteer_form.error_messages %>
        <% event_volunteer_form.fields_for :user do |user_form| %>
          <h3>Your information</h3>
          <div id="event_left">
            <p>
            <%= user_form.label :email %><br />
            <%= user_form.text_field :email %>
            </p>
            <p>
            <%= user_form.label :name %><br />
            <%= user_form.text_field :name %>
            </p>
            <p>
            <%= user_form.label :phone %><br />
            <%= user_form.text_field :phone %>
            </p>
          </div>
          <div id="event_right">
            <%= user_form.label :address1 %><br />
            <%= user_form.text_field :address1 %>
            <%= user_form.label :address2 %><br />
            <%= user_form.text_field :address2 %>
            <%= user_form.label :city %><br />
            <%= user_form.text_field :address1 %>
          </div>
          <div class="clear"></div>
        <% end %>
        <h3>Are you signing up a group?</h3>
        <p>
          Skip this section if you are signing up as an individual.
        </p>
        <p>
          Insert form fields for group name and number of volunteers.		
        </p>
        <div id="event_signup_footer">
          <%= event_volunteer_form.submit 'Sign Up' %> 	
        </div>
      <% end %>
    <% end %>
  </div>
</div>
