<% @title = @event.title %>
<% @page_name = "show" %>

<!-- <p><%= link_to 'go back to see all opportunities', events_path %></p> -->

<h1><%=h @event.title %></h1>

<div class="event_listing clear_this less_padding">
	<div class="event_left">
	
		<h2>Details</h2>
	
			<p class="event_date"><span class="line_heading">Date: </span><%=h @event.date.strftime("%m/%d/%Y") %></p>
			<p class="event_time"><span class="line_heading">Time: </span><%=h @event.timeWithDuration %></p>
			<p class="event_location"><span class="line_heading">Location: </span><%=h @event.location %></p>
			<p class="event_volunteers"><span class="line_heading">Volunteers Signed Up: </span><%=h @event.users.count %> (# more requested)</p>
	
	</div>
	<div class="event_right">
		<h2>Description</h2>
		<p><%=h @event.description %></p>
	</div>
</div>


  <div class="event_signup">
    <% if current_user and current_user.signed_up_for?(@event) %>
      <p class="cancel_link">You are currently signed up as a volunteer for this event. <%= link_to 'Cancel your sign up?', polymorphic_url(@event_volunteer), :method => :delete, :confirm => "Are you sure you want to cancel your registration?" %></p>
    <% else %>
      <h2>Sign up for this event as a volunteer</h2>
      <% form_for([@event, @event_volunteer]) do |event_volunteer_form| %>
        <%= event_volunteer_form.error_messages %>
        <% event_volunteer_form.fields_for :user do |user_form| %>
          <%= render :partial => 'users/form', :locals => { :user_form => user_form, :user => @event_volunteer.user } %>
        <% end %>

        <h3>Are you signing up as group?</h3>
        <p>
          Skip this section if you are signing up as an individual.
        </p>
        <p>
          Insert form fields for group name and number of volunteers.		
        </p>

        <p>
          <%= event_volunteer_form.submit 'Sign Up as a Volunteer' %> or <%= link_to 'go back to see all opportunities', events_path %>	
        </p>
      <% end %>
    <% end %>
  </div>
</div>
