<!-- <p><%= link_to 'go back to see all opportunities', events_path %></p> -->

<h1><%=h @event.title %></h1>

<div class="event_listing clear_this less_padding">
	<div class="event_left">
	
		<h2>Details</h2>
	
			<p class="event_date"><span class="line_heading">Date: </span><%=h @event.date.strftime("%m/%d/%Y") %></p>
			<p class="event_time"><span class="line_heading">Time: </span><%=h @event.timeWithDuration %></p>
			<p class="event_location"><span class="line_heading">Location: </span><%=h @event.location %></p>
			<p class="event_volunteers"><span class="line_heading">Volunteers Signed Up: </span><%=h @event.users.count %> (# more requested)</p>
	
	</div>
	<div class="event_right">
		<h2>Description</h2>
		<p><%=h @event.description %></p>
	</div>
</div>


  <div class="event_signup">
    <% if current_user and current_user.signed_up_for?(@event) %>
      <p class="cancel_link">You are currently signed up as a volunteer for this event. <%= link_to 'Cancel your sign up?', polymorphic_url(@event_volunteer), :method => :delete, :confirm => "Are you sure you want to cancel your registration?" %></p>
    <% else %>
      <h2>Sign up for this event as a volunteer</h2>
      <% form_for([@event, @event_volunteer]) do |event_volunteer_form| %>
        <%= event_volunteer_form.error_messages %>
        <% event_volunteer_form.fields_for :user do |user_form| %>
          
          
          <div class="event_left">
          
          	<h3>Contact Information</h3>
          
            <p>
            	<%= user_form.label :email, "E-mail Address", :class=>"standard", :onblur => "javascript:ValidateBox(this)" %><br />
            	<%= user_form.text_field :email, :class=>"standard" %>
           	</p>
            <p>
            	<%= user_form.label :name, "Your Name", :class=>"standard" %><br />
            	<%= user_form.text_field :name, :class=>"standard" %>
            </p>
            <p>
            	<%= user_form.label :phone, "Phone Number", :class=>"standard" %><br />
            	<%= user_form.text_field :phone, :class=>"standard" %>
            </p>
          </div>
          
          <div class="event_right">
          
          	<h3>Your Address</h3>
          
          	<p>
          		<%= user_form.label :address1, "Address", :class=>"standard" %><br />
           		<%= user_form.text_field :address1, :class=>"standard" %>
          	</p>
          	
          	<p>
          		<%= user_form.label :address2, "Address (2nd line)", :class=>"standard" %><br />
            	<%= user_form.text_field :address2, :class=>"standard" %>
          	</p>
            
            <p>
            	<%= user_form.label :city, "City", :class=>"standard" %><br />
            	<%= user_form.text_field :city, :class=>"standard" %>	
            </p>
            
          </div>
          <div class="clear"></div>
          
        
        <h3>Are you signing up as group?</h3>
        <p>
          Skip this section if you are signing up as an individual.
        </p>
        <p>
          Insert form fields for group name and number of volunteers.		
        </p>
        
        <% end %>
        
		<p>
	    <%= event_volunteer_form.submit 'Sign Up as a Volunteer' %> or <%= link_to 'go back to see all opportunities', events_path %>	
        </p>
      <% end %>
    <% end %>
  </div>
</div>
