<p><%= link_to 'go back to see all opportunities', events_path %></p>

<h1><%=h @event.title %></h1>

<div class="event_listing">
	<div class="event_left">
	
		<h2>Details</h2>
	
			<p class="event_date"><span class="line_heading">Date: </span><%=h @event.date.strftime("%m/%d/%Y") %></p>
			<p class="event_time"><span class="line_heading">Time: </span><%=h @event.date.strftime("%I:%M %p") %></p>
			<p class="event_location"><span class="line_heading">Location: </span><%=h @event.location %></p>
			<p class="event_hours"><span class="line_heading">Duration: </span><%=h @event.number_of_hours %> hours</p>
			<p class="event_volunteers"><span class="line_heading">Volunteers Signed Up: </span><%=h @event.users.count %> (# more requested)</p>
	
	</div>


	<div class="event_right">
	
		<h2>Description</h2>
		<p><%=h @event.description %></p>
		
	</div>

	<div class="clear"></div>	

</div>

<h2>Signup for this event as a volunteer</h2>
<% form_for(@user) do |f| %>
<%= f.error_messages %>

<h3>Your information</h3>
  		  		
<div class="event_left">
	<p>
    	<%= f.label :email %><br />
    	<%= f.text_field :email %>
	</p>

	<p>
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>
	</p>

	<p>
    	<%= f.label :phone %><br />
    	<%= f.text_field :phone %>
	</p>
</div>

<div class="event_right">
	<p>
		<%= f.label :address1 %><br />
    	<%= f.text_field :address1 %>
	</p>
	<p>
		<%= f.label :address2 %><br />
    	<%= f.text_field :address2 %>
	</p>
	<p>
		<%= f.label :city %><br />
    	<%= f.text_field :city %>
	</p>  	
</div>

<div class="clear"></div>

<h3>Are you signing up a group?</h3>
	<p>
		Skip this section if you are signing up as an individual.
	</p>
	<p>
		Insert form fields for group name and number of volunteers.		
	</p>



<p>
	<%= f.submit 'Sign Up as a Volunteer' %> 	
</p>
		<% end %>

