<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />	
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Events: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'reset' %>
	<%= stylesheet_link_tag 'layout' %>
</head>

<body>

<div class="hide">
	<p><a href="#content">Skip to Main Content</a></p>
</div>

<div id="header"><div class="wrapper">

	<img src="/images/logo.png" alt="logo" />
	<p class="hide">Special Olympics Michigan - Volunteer Coordination</p>

</div></div>

<div id="breadcrumbs"><div class="wrapper">
	<p><a href="http://www.somi.org/area8/">Area 8 Home</a> > Upcoming Volunteer Opportunities</p>
</div></div>


<div id="content"><div class="wrapper">
<div id="content_top"></div>
<div id="content_area">

	<div id="left">
		<%= flash[:notice] %>
		<%= yield %>
	</div>
	
	<div id="right">
	
		<h2 class="no_margin">Why volunteer?</h2>
		<p>Aliquam quam libero, tristique eget posuere eu, elementum sed sapien. Nulla enim diam, tempor vel condimentum in, dapibus at magna. Nullam eu tortor est, si.</p>
	
		<h2>Track &amp; share</h2>
		
		<p>Placeholder for a login box or button.</p>
		
		<h2>More ways you can help</h2>
		
		<p>Attend a fundraising event!</p>
		
		<h2>News</h2>
		
		<ul>
			<li>
				<a href="#">Egypt's Mubarak 'returning home'</a>
			</li>
			<li>
				<a href="#">Thai red shirts confront troops</a>
			</li>
			<li>
				<a href="#">Burma stages army parade  </a>
			</li>
		</ul>	
	</div>

	<div class="clear"></div>

</div>
<div id="content_bot"></div>
</div></div>

<div id="footer"><div class="wrapper">

	<p>If you have any problems or questions, do not hesitate to <a href="#">contact us</a>.</p>

</div></div>


</body>
</html>
