<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />	
	<meta name="description" content="" />
	<meta name="keywords" content="" />
  <title><%= @title or 'Area 8 Volunteer Coordination' %></title>
	<%= stylesheet_link_tag 'reset' %>
	<%= stylesheet_link_tag 'layout' %>
</head>

<body>

<div class="hide">
	<p><a href="#content">Skip to Main Content</a></p>
</div>

<div id="header"><div class="wrapper">

	<img src="/images/logo.png" alt="logo" />
	<p class="hide">Special Olympics Michigan - Volunteer Coordination</p>

</div></div>

<div id="breadcrumbs"><div class="wrapper">
<p><a href="http://www.somi.org/area8/">Area 8 Home</a>
<% if @page_name == "events" %> &gt; Upcoming Volunteer Opportunities <% end %>
<% if @page_name == "show" %> &gt; <%= link_to 'Upcoming Volunteer Opportunities', events_path %> &gt; <%= @title %><% end %>
</p>
  
</div></div>


<div id="content"><div class="wrapper">
<div id="content_top"></div>
<div id="content_area">

	<% if flash[:notice] %>
		<div id="notice">
			<p><%= flash[:notice] %></p>
		</div>
	<% end %>
	
	<%= yield %>
	
</div>
<div id="content_bot"></div>
</div></div>

<div id="footer"><div class="wrapper">

	<p>If you have any problems or questions, do not hesitate to call at (517) 885-1175.</p>

</div></div>


</body>
</html>
